@import 'constants';

.person-search-card {
  .card-body.advanced-search-enabled {
    input.autocomplete-search-bar {
      display: none;
    }
  }

  .autocomplete-menu {
    background-color: $white;
    border: $thin-border solid $light-grey;
    border-bottom-left-radius: $larger-border-radius;
    border-bottom-right-radius: $larger-border-radius;
    display: block;
    font-family: Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: $light-weight;
    left: $base-spacing;
    margin-top: $double-spacing;
    max-height: 52rem;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 100%;
    width: calc(100% - #{$double-spacing});
    z-index: 2;
  }

  .search-item {
    border-bottom: $regular-border solid $light-grey;
    cursor: pointer;
    padding: 1rem 2rem;

    &.highlighted-search-item {
      background-color: $light-grey;
    }
  }

  input,
  select {
    border-radius: .4rem;
  }

  .date-of-birth-section {
    margin-left: 1px;
    padding-left: 0;
  }

  .approximate-age-section {
    .approximate-age-selector.unit {
      padding-left: .2rem;
    }

    .age-unit-form {
      margin-left: .2rem;
    }

    .approximate-age-selector.number {
      padding-left: 0;
    }
  }

    // see https://developer.mozilla.org/en-US/docs/Web/CSS/::placeholder
  // for more info about the placeholder pseudo element
  .date-field {
    // edge (it requries the -webkit-input- prefix)
    input::-webkit-input-placeholder {
      font-size: 1.4rem;
    }

    // ie 11
    input:-ms-input-placeholder {
      font-size: 1.4rem;
    }

    // chrome v57+ and firefox v51+
    input::placeholder {
      font-size: 1.4rem;
    }
  }

  .person-search-button-group {
    margin-top: 1.5rem;

    button.btn.person-search-button.clear {
      background-color: $white;
      box-shadow: inset 0 0 0 .2rem $green;
      color: $green;
      float: right;
      text-transform: none;
      width: 11.4rem;
    }

    button.btn.person-search-button.search {
      background-color: $green;
      border: none;
      color: $white;
      float: right;
      margin-left: 2.6rem;
      text-transform: none;
      width: 11.4rem;
    }
  }

  .search-modal-info {
    color: $green;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: underline;
  }
}

.modal-header {
  padding: 1.5rem 3rem;
}

.modal-body {
  color: $dark-grey-woodduck;
  font-size: 1.8rem;
  padding: 1.5rem 3rem;
}

.modal-footer-button {
  background-color: $green;
  border: none;
  color: $white;
  float: right;
  margin-left: 2.6rem;
  text-transform: none;
  width: 11.4rem;
}

.modal-footer-button:hover {
  color: $white;
}

.modal-dialog {
  top: 20%;
}

.pagination-bottom {
  .select-wrap > select {
    background-position: right 1.3rem center;
    background-repeat: no-repeat;
    background-size: 1.3rem;
    width: 10rem;
  }

  .-pagination .-btn {
    background: $lightest-grey;
    color: $darkest-grey;
  }
}

.search-information-flag {
  color: $dark-grey;
}

// scss-lint:disable ImportantRule
.custom-tool-tip {
  background-color: $medium-blue !important;

  &.place-top {

    &::after {
      border-top-color: $medium-blue !important;
      border-top-style: solid;
      border-top-width: 6px;
    }
  }
}
// scss-lint:enable ImportantRule

.search-results {
  text-align: center;
}

.person-search-detail-link {
  background-color: transparent;
  border: none;
  color: $medium-blue;
  cursor: pointer;
  text-decoration: underline;
}

.alert-container.search-results-limit {
  .row {
    margin-left: 05%;
    width: 90%;
  }

  .alert-message {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .alert-icon {
    background-color: $orange;
    padding-left: 1rem;
    padding-right: 1rem;
    width: .1rem;
  }
}

.alert-container.no-search-results {
  .row {
    margin-left: 05%;
    width: 90%;
  }

  .alert-message {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .alert-icon {
    background-color: $dark-blue;
    padding-left: 1rem;
    padding-right: 1rem;
    width: .1rem;
  }
}

.tooltip-content {
  text-align: left;
}

.search-results-header {
  font-weight: bold;
  text-align: left;
}

.table-header-title {
  margin-right: .5rem;
}

.breadcrumb-container {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.autocompleter-label {
  display: none;
}
